.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width:100%;
}

.price{
 grid-column: 1 / 2;
}
.exprenses{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.margin{
    grid-column: 1/3;
    text-align: center;
}

.box{
    border: 2px solid #000;
    padding: 10px;
    background: #c0c0c0;
}
.box1{
    border: 2px solid #000;
    padding: 10px;
    background: #c9e786;
}
.box2{
    border: 2px solid #000;
    padding: 10px;
    background: #8cd882;
}
.box3{
    border: 2px solid #000;
     padding: 10px; 
    background: #ffaeae;
}
.value{
    font-size: 20px;
    font-weight: bold;
}
.margin-box{
     text-align: center; 
     /* padding-left: 50%; */

}
button{
    height: 20px;
    width: 100px;
    background: #000;
    color: #ffff;
    /* border:none; */
    font-family: inherit;
    cursor: pointer;
}
.result{
    padding-top: 5px;
    
}
input{
    background: #dadada;
    
}
.list{
    font-size: 19px;
}